<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>{{.Title}}</title>
  </head>
  <body>
    <nav class="container">
      <ul>
        <li><strong>TimeTracker</strong></li>
      </ul>
    </nav>
    <main class="container">{{ block "content" . }}{{ end }}</main>
  </body>
</html>
